.App {
  text-align: center;
}

.poke-card:hover{
  background-color: rgba(235, 235, 235, 0.521);
  cursor: pointer;
}


.poke-details{

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  -webkit-box-shadow: 0 2px 3px rgb(0, 0, 0, 0.527);
	-moz-box-shadow: 0 2px 3px rgb(0, 0, 0, 0.527);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.527);
  padding: 5px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.mobile{
  flex-direction: column;
}

.poke-name{
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:hover{
  text-decoration: none;
}

.poke-card{
  -webkit-box-shadow: 0 2px 3px rgb(0, 0, 0, 0.527);
	-moz-box-shadow: 0 2px 3px rgb(0, 0, 0, 0.527);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.527);
}

.navbar *{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
